<div class="container notes">
    <div class="row justify-content-center">
        <div class="col-10 mt-3">
            <div class="header_main">
                <h1>Объявления</h1>
                <div class="mapPtr">
                    <a class="mapPtr" href="/map/blurbs" >Показать на карте</a>
                </div>
            </div>
        </div>

        {{#if blurbs.length}}
        <form action="/blurbs/1" method="GET" class="form-inline my-2 my-lg-0">
           <input name="search" value="{{searchQuery}}" class="form-control mr-sm-2" type="search" placeholder="Поиск"
                aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 customBGColor" type="submit"><i class="fa fa-search"
                    aria-hidden="true"></i></button>

        </form>
        {{#each blurbs}}
        <div class="col-10 mt-3">
            <div class="header_main">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{region}} {{refPoint}} {{room}}/{{floor}}/{{numberOfStoreys}}</h5>
                        <span>{{cost}} {{currency}}</span>
                        <p class="card-text date">Добавлено в {{date}}</p>
                        <a class="customColor" href="/blurbs/blurb/{{ID}}" target="_blanc">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="col-10 mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{#if prev}}
                    <li class="page-item customColor"><a class="page-link customColor" href="{{prev}}">Предыдущая</a>
                    </li>
                    {{/if}}

                    <li class="page-item customColor"><span class="page-link customColor">Страница
                            {{current}}/{{totalPages}}</span>
                    </li>

                    {{#if next}}
                    <li class="page-item customColor"><a class="page-link customColor" href="{{next}}">Следующая</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
        {{else}}
        <div class="col-10 mt-3">
            <div class="header_main">
                {{#if notFound}}
                <form action="/blurbs/1" method="GET" class="form-inline my-2 my-lg-0">
                    <input name="search" value="{{searchQuery}}" class="form-control mr-sm-2" type="search"
                        placeholder="Поиск" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 customBGColor" type="submit"><i
                            class="fa fa-search" aria-hidden="true"></i></button>

                </form>
                <p>По данному поиску ничего не найдено</p>
                {{else}}
                <p>Ещё нет никаких объвлений</p>
                {{/if}}
            </div>
        </div>
        {{/if}}
    </div>
</div>